:root {
    --nav-background-color: papayawhip;
    --nav-border-color: lightcoral;
}

* {
    margin: 0;
    padding: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}


/* body {
    background-image: url(./hinh-anh-do-an-de-thuong-cuc-dep_095148875.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
    width: 100%;
} */

.container {
    position: relative;
    width: 100%;
    height: 100%;
}

header {
    position: fixed;
    width: 100%;
    padding: 2px;
    text-align: center;
    text-transform: capitalize;
    max-height: 110px;
    border-bottom: 1px solid var(--nav-border-color);
    background-color: var(--nav-background-color);
    z-index: 1;
}


/* nav-pc */

nav {
    position: fixed;
    display: flex;
    justify-content: center;
    border-top: 1px solid var(--nav-border-color);
    border-bottom: 1px solid var(--nav-border-color);
    width: 100%;
    max-height: fit-content;
    margin-top: 28px;
    background-color: var(--nav-background-color);
    align-items: center;
    z-index: 2;
}

.nav-brand,
.nav-mini-brand {
    text-transform: uppercase;
    color: indianred;
    font-size: 20px;
    padding: 5px 20px;
    text-align: center;
    font-weight: bold;
}

.nav-menu ul {
    display: inline-flex;
}

.nav-menu li {
    padding: 5px 15px;
}

.nav-menu a,
.nav-mobi-menu a {
    text-transform: capitalize;
    font-size: 18px;
    color: black;
}

.nav-menu a:hover,
.nav-mobi-menu a:hover {
    color: lightcoral;
}

.nav-mobi-menu li {
    padding: 5px;
}

.nav-menu li:hover,
.nav-mobi-menu li:hover {
    background-color: lightsteelblue;
}

.nav-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 3;
}

#nav-togger:checked~.nav-overlay {
    display: block;
}


/* nav-mobile */

#nav-mobi {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: var(--nav-background-color);
    border-bottom: 1px solid var(--nav-border-color);
    transform: translateY(-100%);
    z-index: 90;
}

#nav-mobi-close {
    display: flex;
    flex-direction: row-reverse;
    padding: 5px;
    border-bottom: 1px solid var(--nav-border-color);
    margin-bottom: 5px;
    font-size: 22px;
}

#nav-togger:checked~#nav-mobi {
    transform: translateY(0px);
}

#nav-togger:checked~#nav-mobi-close {
    transform: translateY(-100%);
}


/* search bar */

#search-bar-btn {
    margin-top: 50px;
}

.search-bar {
    position: absolute;
    margin-top: auto;
    /* margin-top: 88px; */
    width: 100%;
    max-height: 35px;
    padding: 5px 10px;
    align-content: center;
    z-index: -1;
    background-color: var(--nav-background-color);
}

form {
    display: flex;
    align-items: center;
}

input {
    width: 100%;
    height: 25px;
    border-radius: 10px 0 0 10px;
}

button {
    font-size: 16px;
    width: 40px;
    border-radius: 0 10px 10px 0;
    background-color: papayawhip;
}

@media screen and (max-width: 700px) {
    header {
        max-height: 110px;
    }
    nav {
        margin-top: 30px;
    }
    .nav-menu {
        display: none;
    }
    .nav-brand {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (min-width: 700px) {
    #nav-mobi,
    #nav-mobi-btn {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    header {
        max-height: 128px;
    }
    nav {
        margin-top: 48px;
    }
}

@media screen and (min-width: 400px) {
    header {
        max-height: 128px;
    }
    nav {
        margin-top: 48px;
    }
}

.slogan {
    display: flex;
    flex-direction: column;
}

#main-content {
    margin: 10px 10px;
    margin-top: 125px;
    padding: 10px;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    height: 60vh;
    max-height: 100%;
    background-color: white;
}

#latest,
#main,
#recent-view,
#rank-view {
    padding: 5px;
    margin-bottom: 10px;
}

.latest-title h3,
.main-title h3,
.recent-title h3,
.rank-title h3 {
    text-transform: capitalize;
    color: black;
    padding-bottom: 5px;
}


/* .latest-cards,
.main-cards,
.recent-cards,
.rank-list {
    padding-top: 8px;
} */

.main-cards {
    display: flex;
    flex-wrap: wrap;
}

.latest-cards {
    display: flex;
    flex-wrap: nowrap;
}

.latest-cards .card,
.main-cards .card {
    border: 1px solid grey;
    margin-right: 5px;
    padding: 5px;
}

#sidebar {
    width: 20%;
}

.recent-cards,
.rank-list {
    border: 1px solid black;
}

.recent-cards .card {
    padding: 5px;
    border-bottom: 1px solid darksalmon;
}

.rank-list .item {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-bottom: 1px solid salmon;
}

@media screen and (max-width: 767px) {
    .main-content {
        width: 100%;
    }
    #sidebar {
        display: none;
    }
}


/* footer */

footer {
    width: 100%;
    border-top: 1px solid crimson;
    margin-top: 10px;
    height: 100px;
    align-items: center;
    background-color: whitesmoke;
}

footer ul {
    display: flex;
    justify-content: center;
    padding: 30px 8px;
}

footer li {
    padding: 0 10px;
}

footer a {
    font-size: 25px;
    height: 50px;
    width: 50px;
    color: lightcoral
}

footer a .fa-brands {
    width: 100%;
    height: 100%;
}

footer p {
    padding-bottom: 10px;
    text-align: center;
}