:root {
    --nav-background-color: papayawhip;
    --nav-shadow-color: lightcoral;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    list-style: none;
}

/* header */
header {
    position: fixed;
    width: 100%;
    height: 60px;
    z-index: 1;
}

.nav-brand {
    font-family: cursive;
    text-transform: uppercase;
    color: indianred;
    padding: 5px 20px;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}

/* nav-pc */

nav {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 60px;
    box-shadow: 0 2px 0 0 var(--nav-shadow-color);
    background-color: var(--nav-background-color);
    align-items: center;
    z-index: 2;
}

.nav-menu {
    display: inline-flex;
    margin: 0;
    align-items: center;
}

.nav-menu a,
.nav-mobi-menu a {
    color: black;
    font-weight: bold;
    font-size: 18px;
    text-transform: capitalize;
}

.nav-menu a:hover,
.nav-mobi-menu a:hover {
    color: lightcoral;
}

.nav-menu li:hover,
.nav-mobi-menu li:hover {
    background-color: lightsteelblue;
}

.nav-menu li .bx,
.nav-brand .bx,
.nav-mobi-menu li .bx {
    font-size: 22px;
}

.nav-brand .bx {
    padding: 10px;
}

/* nav-mobile */

#nav-mobi {
    width: 100%;
    background-color: var(--nav-background-color);
    box-shadow: 0 2px 0 0 var(--nav-shadow-color);
    transform: translateY(-500%);
    text-align: center;
    z-index: 2;
}

#nav-mobi-btn {
    display: none;
}

#nav-mobi-close {
    display: flex;
    flex-direction: row-reverse;
    padding: 10px;
    border-bottom: 1px solid lightcoral;
    margin-bottom: 5px;
    font-size: 22px;
}

/*toggle */

#nav-toggle:checked~#nav-mobi {
    transform: translateY(-28%);
}

#nav-toggle:checked~#nav-mobi-close {
    transform: translateY(-500%);
}

/* search bar */

.search-bar {
    position: relative;
    width: 250px;
    padding: 5px 10px;
}

input {
    width: 100%;
    height: 28px;
    border-radius: 20px;
    padding: 2px;
    padding-left: 25px;
}

.search-bar .bx {
    position: absolute;
    left: 15px;
    top: 11px;
    width: 16px;
}

/* main content */

.slogan {
    text-decoration: underline;
}

#main-content {
    z-index: 100;
    display: flex;
    justify-content: space-between;
    height: 60vh;
    max-height: 100%;
    background-color: white;
    width: 100%;
}

#latest,
#main,
#recent-view,
#rank-view {
    padding: 5px;
}

.latest-title h3,
.main-title h3,
.recent-title h3,
.rank-title h3 {
    text-transform: capitalize;
    color: black;
}

.latest-cards {
    display: -webkit-box;
}

.main-cards {
    display: -webkit-box;
}

.latest-cards .card,
.main-cards .card {
    border: 1px solid grey;
    margin-right: 5px;
    padding: 5px;
}

/* sidebar */

#sidebar {
    width: 20%;
}

.recent-cards,
.rank-list {
    border: 1px solid black;
}

.recent-cards .card {
    padding: 5px;
    border-bottom: 1px solid darksalmon;
}

.rank-list .item {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-bottom: 1px solid salmon;
}

/* footer */

footer {
    width: 100%;
    border-top: 1px solid crimson;
    margin-top: 10px;
    height: 100px;
    align-items: center;
    background-color: whitesmoke;
}

footer ul {
    display: flex;
    justify-content: center;
    padding: 30px 8px;
}

footer li {
    padding: 0 10px;
}

footer a {
    font-size: 25px;
    height: 50px;
    width: 50px;
    color: lightcoral
}

footer p {
    padding-bottom: 10px;
    text-align: center;
}

@media screen and (max-width: 683px) {
    #nav-mobi-btn {
        display: block;
    }

    .nav-menu {
        display: none;
    }

    .nav-brand {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (max-width: 767px) {
    .main-content {
        width: 100%;
    }

    #sidebar {
        display: none;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 100%;
    }
}