:root {
    --nav-background-color: papayawhip;
    --nav-shadow-color: lightcoral;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    list-style: none;
}

.nav_brand {
    font-family: cursive;
    text-transform: uppercase;
    color: indianred;
    padding: 5px 20px;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}

.nav-brand .bx {
    font-size: 22px;
    padding: 10px;
}

/* header */
header {
    width: 100%;
    height: 52px;
    z-index: 1;
}

/* nav-pc */

nav {
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    box-shadow: 0 2px 0 0 var(--nav-shadow-color);
    background-color: var(--nav-background-color);
    align-items: center;
    z-index: 2;
}

.nav_menu {
    display: inline-flex;
    margin: 0;
    align-items: center;
}

.nav_menu .bx,
.nav_mobi_menu .bx {
    font-size: 24px;
}

.nav_menu a,
.nav_mobi_menu a {
    color: black;
    font-size: 18px;
    text-transform: capitalize;
}

.nav_menu a:active,
.nav_mobi_menu a:active {
    font-weight: bold;
}

.nav_menu a:hover,
.nav_mobi_menu a:hover {
    color: lightcoral;
}

.nav_menu li:hover,
.nav_mobi_menu li:hover {
    background-color: lightsteelblue;
}

.nav_menu li .bx,
.nav_mobi_menu li .bx {
    font-size: 22px;
}


/* nav-mobile */

#nav-mobi {
    position: relative;
    width: 100%;
    background-color: var(--nav-background-color);
    box-shadow: 0 2px 0 0 var(--nav-shadow-color);
    text-align: center;
    transform: translateX(-100%);
    z-index: 3;
}

#nav-mobi-btn {
    display: none;
}

#nav-mobi-close {
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid lightcoral;
}

#nav-mobi-close .bx {
    font-size: 22px;
    float: right;
}

.nav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    transform: translateX(-100%);
}

/* search bar */

.search_bar {
    position: relative;
    width: 250px;
    padding: 5px 10px;
}

input {
    width: 100%;
    height: 28px;
    border-radius: 20px;
    padding: 2px;
    padding-left: 25px;
}

.search_bar .bx {
    position: absolute;
    left: 15px;
    top: 11px;
    width: 16px;
}

/* main content */

main {
    position: relative;
    display: block;
    background-color: rgb(243, 231, 210);
    height: 100%;
    max-height: 100%;
    padding: 0 6rem;
    z-index: -1;
}

main .breadcrumb {
    margin: 0;
}

main .main-content {
    display: flex;
    justify-content: space-between;
    height: 100%;
    background-color: white;
    z-index: 100;
    margin: 0 auto;
}

#main .card img {
    width: 250px;
    object-fit: contain;
}

#main .card .card_body {
    margin-top: 8px;
}

#latest,
#main,
#recent-view,
#rank-view {
    padding: 5px;
}

.latest_title h3,
.main_title h3,
.recent_title h3,
.rank_title h3 {
    text-transform: capitalize;
    color: black;
}

.latest_cards {
    display: -webkit-box;
}

.main_cards {
    display: -webkit-box;
}

.latest_cards .card,
.main_cards .card {
    border: 1px solid grey;
    margin-right: 20px;
    padding: 5px;
    animation: ease .3s;
}

.latest_cards .card:hover,
.main_cards .card:hover {
    box-shadow: 4px 4px 4px 4px lightcyan;
    transform: translateY(-10px);
}

/* sidebar */

#sidebar {
    width: 20%;
}

.rank_list {
    border: 1px solid black;
}

.recent_cards .card {
    padding: 8px;
    border: 1px solid darksalmon;
    border-radius: 20px;
}

.rank_list .item {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-bottom: 1px solid salmon;
}

/* footer */

footer {
    width: 100%;
    border-top: 1px solid crimson;
    align-items: center;
    background-color: whitesmoke;
}

footer ul {
    display: flex;
    justify-content: center;
    padding: 16px 8px;
}

footer li {
    padding: 0 10px;
}

footer .bx {
    font-size: 25px;
    color: lightcoral
}

footer p {
    padding-bottom: 10px;
    text-align: center;
}

@media screen and (max-width: 683px) {
    #nav-mobi-btn {
        display: block;
    }

    .nav_menu {
        display: none;
    }

    .nav_brand {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    /*toggle */

    #nav-toggle:checked~#nav-mobi {
        transform: translateX(0%);
    }

    #nav-toggle:checked~#nav-mobi-close {
        transform: translateY(-500%);
    }

    #nav-toggle:checked~.nav-overlay {
        transform: translateX(0%);
    }
}

@media screen and (max-width: 767px) {
    main {
        width: 100%;
        padding: 0;
    }

    #main .card img {
        width: 130px;
        object-fit: contain;
    }

    #sidebar {
        display: none;
    }
}

@media screen and (min-width: 1200px) {
    main {
        width: 100%;
    }
}