* {
    margin: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: lavenderblush;
}

ul {
    max-width: 20%;
    width: 180px;
    height: 100%;
    position: fixed;
    background-color: lightblue;
    left: 0;
    top: 0;
    bottom: 0;
    display: block;
    overflow: auto;
}

li {
    display: block;
    padding: 8px 16px;
    background-color: lightblue;
}

li a {
    color: red;
    text-transform: capitalize;
}

li a:hover:not(:active) {
    color: white;
    background-color: red;
}

li a:active {
    color: white;
    background-color: lightcoral;
}

#main-content {
    margin-left: 220px;
    display: block;
}

header {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    max-width: 100%;
    height: 55px;
    background-color: white;
    align-items: center;
}